<form action="" method="post">
    <label class=label-news for="lastname">Nom : </label>
    <input type="text" name="lastname" id="lastname" required><br>
    <label class=label-news for="firstname">Prénom : </label>
    <input type="text" name="firstname" id="firstname" required><br>
    <label class=label-news for="email">E-mail : </label>
    <input type="email" name="email" id="email" required><br>
    <input type="submit" class="btn btn-outline-warning" value="Subscribe!">
</form>