{% extends 'layout.html.twig' %}

{% block title %} - Ton panier{% endblock %}

{% block content %}

    <div class="products container-fluid">
        <div class="cart-title row">
            <h1>Ton panier</h1>
        </div>
        <div class="cart row d-flex">
            <div class="products-cart col-10 offset-2">
                <h2>Ton panier a été validé avec succès</h2>
            </div>
        </div>
    </div>

{% endblock %}