{% extends 'Admin/layout.html.twig' %}

{% block title %} Les mails abonné.e.s {% endblock %}

{% block content %}

    <div class="admin-all-events row">
        <div class="admin-list col-8 offset-2">

            <h2>Retrouve les mails des abonné.e.s</h2>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nom & prénom</th>
                    <th scope="col">Mail</th>
                </tr>
                </thead>
                <tbody>
                {% for subscriber in subscribers %}
                    <tr>
                        <td>{{ subscriber.firstname }} {{ subscriber.lastname }}</td>
                        <td>{{ subscriber.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="btn-back-event">
                <a class="btn" href="/news/listnews">Retourner aux actualités du site</a>
            </div>

        </div>

    </div>

{% endblock %}